/* General */
* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: "Oswald", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: url(fotos/fondo_agua.jpg) no-repeat center center/cover;
    color: white;
    padding: 0 20px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#escudo {
    width: 65px;
    height: auto;
    margin-left: 100px;
    display: block;
}

#titulos {
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    text-align: left;
    flex-grow: 1;
    margin-left: 20px;
}

#atitulos {
    text-decoration: none;
}

#titulo1 {
    font-size: 16px;
    font-weight: 100;
    color: white;
}

#titulo2 {
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
}

#secciones ul {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    list-style: none;
    display: flex;
    margin-right: 60px;
    gap: 20px;
    padding: 0;
}

#secciones ul li {
    display: inline-block;
}

#secciones ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

#secciones ul li a:hover {
    color: #ffcc00;
}

.tienda {
    padding: 40px;
    text-align: center;
}

.tienda h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #003366;
    margin-bottom: 30px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.producto {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.producto:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.producto img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.producto h3 {
    font-size: 1.2em;
    color: #003366;
    margin: 10px 0;
}

.producto p {
    font-size: 1.1em;
    color: #666;
}

button {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003366;
}


footer {
    text-align: center;
    padding: 16px;
    background: #a8bcd4;
    color: white;
    width: 100%;
}


.socio {
    background-color: #f4f4f4;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    width: 350px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#boton-socio {
    background: #004080;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    justify-content: center;
}

.fotohinchada {
    background: url(fotos/hinchada.jpg) no-repeat center center/cover;
    padding: 120px;
}

.contenedor-noticias {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.noticia {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noticia img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.noticia h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.noticia p {
    font-size: 14px;
    color: #555;
    flex-grow: 1;
}

h2 {
    margin: 10px;
    font-size: 32px;
}

.seccion {
    padding: 32px;
    background-color: white;
    margin: 32px;
    border-radius: 5px;
}

.seccion2 {
    padding: 32px;
    width: 30%;
    background-color: white;
    margin: 32px;
    border-radius: 5px;
}

ul {
    list-style: none;
}

ul li {
    background: #004080;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}


.disciplinas {
    padding: 40px;
    background-color: #f4f4f4;
    text-align: center;
}

.disciplinas h2 {
    font-size: 2.5em;
    color: #003366;
    margin-bottom: 20px;
}

.lista-disciplinas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.disciplina {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: left;
}

.disciplina h3 {
    font-size: 1.4em;
    color: #004080;
    margin-bottom: 10px;
}

.disciplina p {
    color: #555;
    font-size: 1em;
}

#titulos-elclub {
    margin-left: 60px;
    font-size: 50px;
    color: #021e3a;
}

#parrafos-elclub  {
    margin-top: 50px;
    margin-left:90px;
    margin-right:35%;
    margin-bottom: 20px;
    text-align: justify;
    color: #021e3a;
}

#h2elclub {
    margin-left: 0px;
}

#fotoaa img{
    width: 100%;
    height: auto;
    filter: brightness(1.3);
}


.sidebar {
    width: 300px;
    position: fixed;
    top: 45%;
    left: 75%;
    backdrop-filter: blur(5px);
}

.title {
    font-size: 40px;
    color: #021e3a;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.menu-item {
    display: block;
    background-color: #ededed;
    color: #021e3a;
    padding: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 18px;
    font-weight: normal;
}

.menu-item:hover {
    background-color: #d8e1e8;
}

.content {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 36px;
    color: #002D62;
}

.content h2 {
    font-size: 28px;
    color: #002D62;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

.slider {
    position: relative;
    max-width: 100%;
    width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.6s ease; /* Suaviza la transición */
}

.slide {
    min-width: 100%;
    transition: opacity 1s ease;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

/* Botones de navegación */
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    user-select: none;
}

.nav-btn.left {
    left: 10px;
}

.nav-btn.right {
    right: 10px;
}

/* Indicadores de posición */
.indicator {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: #717171;
}

#maurof {
    width: 50%;
    margin-left: 25%;
}

/* Contenedor general del formulario */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

/* Estilos para el título */
.form h2 {
    text-align: center;
    color: #00274d;
    margin-bottom: 20px;
}

/* Estilos para los elementos dentro del formulario */
.form label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form input, 
.form textarea, 
.form button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Efecto al hacer foco en los campos */
.form input:focus, 
.form textarea:focus {
    border-color: #005d99;
    outline: none;
}

/* Estilo para el botón */
.form button {
    background-color: #00274d;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.form button:hover {
    background-color: #005d99;
}

/* Estilos para el mensaje de confirmación */
#confirmationMessage {
    text-align: center;
    padding: 20px;
    background-color: #e0f7fa;
    color: #00796b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

/* Estilos del encabezado de contacto */
.header-contacto {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#escudo-contacto {
    width: 200px;
    height: auto;
}

#titulo-contacto {
    font-size: 45px;
    color: #021e3a;
    margin-left: 3%;
    margin-top: 4%;
}

#icono-whatsapp {
    width: 80px;
    margin-left: 1000px;
    margin-top: 50px;
}

.contenido-contacto {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}


.datos-contacto h3, .datos-contacto h4 {
    color: #021e3a;
    font-weight: bold;
}

.datos-contacto p {
    color: #333;
}

/* Línea divisoria vertical */
.linea-vertical {
    width: 3px;
    background-color: #021e3a;
    height: auto;
    margin-bottom: 70px;
    min-height: 600px;
}

/* Estilos del formulario de contacto */
.form-contacto form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 600px;
}

.form-contacto label {
    font-weight: bold;
    color: #021e3a;
}

.form-contacto input,
.form-contacto textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-contacto button {
    background-color: #021e3a;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.form-contacto button:hover {
    background-color: #014278;
}

.banner_tienda img{
    width: 100%;
    height: 500px;
}

.ofertas {
    background-color: #004080;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#ofertas-texto p {
    margin-bottom: 30px;
}

.contenedor-input {
    position: relative;
}

input[name="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

.flecha_boton {
    position: absolute;
    right: 0px;
    top: -17%;
    background-color: transparent;
    border: none;
    color: #004080;
    cursor: pointer;
    font-size: 20px;
}

/* Estilos de la tabla */
.table-container {
    overflow-y: auto;
    max-height: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
    font-weight: bold;
}
